USE [master]
GO
/****** Object:  Database [BDTelefonia]    Script Date: 20/03/19 19:48:11 ******/
CREATE DATABASE [BDTelefonia] ON  PRIMARY 
( NAME = N'BDTelefonia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BDTelefonia.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDTelefonia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\BDTelefonia_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDTelefonia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDTelefonia]
GO
/****** Object:  Table [dbo].[tbl_Departamento]    Script Date: 20/03/19 19:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Departamento](
	[Codigo] [int] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_tbl_Departamento] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_tbl_Departamento] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Municipio]    Script Date: 20/03/19 19:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Municipio](
	[Codigo] [int] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[CodigoDepartamento] [int] NOT NULL,
	[Indicativo] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_Municipio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_tbl_Municipio]    Script Date: 20/03/19 19:48:12 ******/
CREATE NONCLUSTERED INDEX [IX_tbl_Municipio] ON [dbo].[tbl_Municipio]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Municipio]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Municipio_tbl_Departamento] FOREIGN KEY([CodigoDepartamento])
REFERENCES [dbo].[tbl_Departamento] ([Codigo])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[tbl_Municipio] CHECK CONSTRAINT [FK_tbl_Municipio_tbl_Departamento]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDepartamentos]    Script Date: 20/03/19 19:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDepartamentos]
    @codigo int,
    @nombre nvarchar(120),
	@codigoAuxiliar int
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE tbl_Departamento
    SET Codigo=(@codigo), 
        Nombre=(@nombre)
        
    WHERE Codigo=@codigoAuxiliar
END
GO
USE [master]
GO
